.public-profile-container {
  padding-top: 20px;
}

.profile-paper {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5; // Or any background color you prefer
}

.error-message {
  color: red;
}

.friend-action-container {
  margin-top: 20px;
}

.friend-request-actions {
  display: flex;
  gap: 10px;
}

.add-friend-button {
  margin-top: 10px;
}

.confirm-button {
  margin-right: 10px;
}

.reject-button {
  margin-top: 10px;
}
